<!--
<html>
<head>

<script language="Javascript">
&lt;!&ndash; outcomment the script for old browsers

function hiliteImage(imageName,hiliteImageName) {
	if (document.images) {
		document[imageName].src = eval(hiliteImageName+".src")
		}
	}

function hiliteOff(imageName) {
	if (document.images) {
		document[imageName].src = eval(imageName+".src")
		}
	}

if (document.images) {
	menu1 = new Image(600,32)
	menu1.src = "menu1.jpg"
	menu2 = new Image(600,32)
	menu2.src = "menu2.jpg"
	menu3 = new Image(600,32)
	menu3.src = "menu3.jpg"
	menu4 = new Image(600,32)
	menu4.src = "menu4.jpg"
	menu5 = new Image(600,32)
	menu5.src = "menu5.jpg"
	menu6 = new Image(600,32)
	menu6.src = "menu6.jpg"
	menu1s = new Image(600,32)
	menu1s.src = "menu1s.jpg"
	menu2s = new Image(600,32)
	menu2s.src = "menu2s.jpg"
	menu3s = new Image(600,32)
	menu3s.src = "menu3s.jpg"
	menu4s = new Image(600,32)
	menu4s.src = "menu4s.jpg"
	menu5s = new Image(600,32)
	menu5s.src = "menu5s.jpg"
	menu6s = new Image(600,32)
	menu6s.src = "menu6s.jpg"
	}

//&ndash;&gt;

</script>

	<link rel="stylesheet" type="text/css" href="resources/css/stylesheet.css?v=2.1" >
	<link rel="stylesheet" type="text/css" href="resources/css/stylesheet-dark.css?v=1.0" media="screen and (prefers-color-scheme: dark)">

<title>Nuclide Database Entry Page</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<div id="logo">
	<img src="img/banner.png" height="300"/>
</div>
<body>

<h2>Nuclide Database</h2>


	&lt;!&ndash; <li><a href="newTracer.jsp">New Tracer Tube</a>
	<li><a href="newWaste.jsp">New Waste Container</a>
	<li><a href="newUsage.jsp"><i class="fas fa-chart-pie"></i>Define Usage</a>
	<li><a href="showTracers.jsp">Tracer Overview</a>
	<li><a href="showWaste.jsp">Wastes</a>
	<li><a href="showUsers.jsp">Users</a> &ndash;&gt;


<table class="menuTable">
	<tr>
		<th><a href="newTracer.jsp">New Tracer Tube</a></th>
	</tr>
	<tr>
		<th><a href="newWaste.jsp">New Waste Container</a></th>
	</tr>
	<tr>
		<th><a href="newUsage.jsp"><i class="fas fa-chart-pie"></i>Define Usage</a></th>
	</tr>
	<tr>
		<th><a href="showTracers.jsp">Tracer Overview</a></th>
	</tr>
	<tr>
		<th><a href="showWaste.jsp">Wastes</a></th>
	</tr>
	<tr>
		<th><a href="showUsers.jsp">Users</a></th>
	</tr>

</table>
</body>
</html>
-->
